<div class="panel panel-border panel-default">
    <div class="panel-body">
        <img [src]="image" height="90%" width="89%" [routerLink]="['/details',id]"><br>
        <span class="text-center">Name : {{companyName}}</span><br>
        inStock : <span *ngIf="quality === 0">Out Of Stock</span> <span
            *ngIf="quality !== 0">{{quality}}</span><br>
        Amount : <b>&#2352; {{amount}} <small>per pc</small></b> <br>
        <span *ngIf="quality !== 0">
            Selected quantity : <input type="number" [(ngModel)]="quantity" [min]=0 [max]="quality"
            (keyup)='checkQuantity()'></span>

    </div>
    <button class="btn btn-info" (click)="AddToCart()"> ADD to Cart
    </button>
    selected quantity : {{quantity}}.
</div>