<app-header></app-header>
<div>
    <!-- <app-products></app-products> -->

    <div class="col-md-12 col-xs-12 col-lg-12 col-sm-12">
        <div *ngFor="let products of productsList" class="col-md-3 col-xs-6 col-sm-3 col-lg-3">
            <div class="panel-group">
                <!-- {{ products | json }} -->
                <app-product  (cart)="addCart($event)" [id]="products.id"
                [image]="products.img" [companyName]="products.companyName" [quality]="products.quality" [amount]="products.amount" [quantity]="products.quantity"></app-product>
            </div>
        </div>
    </div>
</div>